# Соревнование kaggle: https://www.kaggle.com/c/dota-2-win-probability-prediction/data

In [170]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import json
import bz2

In [171]:
with bz2.BZ2File('./data/data/matches.jsonlines.bz2') as matches_file:
    for line in matches_file:
        match = json.loads(line)
        break

# Типы героев

In [172]:
heroes = pd.read_csv('C:\\Users\\snekl\\machine_learning_yandex\\lesson7\\data\\data\\dictionaries\\heroes.csv')

In [173]:
heroes

      id  localized_name                      name
0      1       Anti-Mage                  antimage
1      2             Axe                       axe
2      3            Bane                      bane
3      4     Bloodseeker               bloodseeker
4      5  Crystal Maiden            crystal_maiden
..   ...             ...                       ...
107  110         Phoenix                   phoenix
108  105         Techies                   techies
109  111          Oracle                    oracle
110  112   Winter Wyvern             winter_wyvern
111  113      Arc Warden  npc_dota_hero_arc_warden

[112 rows x 3 columns]

Пики героев

In [174]:
picks_bans = pd.DataFrame(match['picks_bans'])
print(picks_bans)

    is_pick  hero_id  order  team
0     False       95      0     1
1     False       39      1     0
2     False       99      2     1
3     False       41      3     0
4      True       42      4     1
5      True       68      5     0
6      True       22      6     0
7      True       64      7     1
8     False       73      8     1
9     False       11      9     0
10    False       97     10     1
11    False       93     11     0
12     True       98     12     0
13     True       47     13     1
14     True       88     14     0
15     True      110     15     1
16    False       48     16     0
17    False       35     17     1
18     True       67     18     0
19     True        8     19     1

In [175]:
ids = np.where(picks_bans['is_pick'] == True)#Герои, выбранные командами
heros1 = picks_bans.iloc[ids][picks_bans['team'] == 1]['hero_id']#Герои, выбранные первой командой
ids = np.where(picks_bans['is_pick'] == True)#Герои, выбранные командами
heros2 = picks_bans.iloc[ids][picks_bans['team'] == 0]['hero_id']#Герои, выбранные второй командой

C:\Users\snekl\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\snekl\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [176]:
print(heroes.loc[heros1])

      id    localized_name              name
42    44  Phantom Assassin  phantom_assassin
64    66              Chen              chen
47    49     Dragon Knight     dragon_knight
110  112     Winter Wyvern     winter_wyvern
8      9            Mirana            mirana

In [177]:
print(heroes.loc[heros2])

     id       localized_name                 name
68   70                 Ursa                 ursa
22   23               Kunkka               kunkka
98  100                 Tusk                 tusk
88   90  Keeper of the Light  keeper_of_the_light
67   68   Ancient Apparition   ancient_apparition

In [178]:
ids = np.where(picks_bans['is_pick'] == False)#Герои, выбранные командами
heros1 = picks_bans.iloc[ids][picks_bans['team'] == 1]['hero_id']#Герои, выбранные первой командой
ids = np.where(picks_bans['is_pick'] == False)#Герои, выбранные командами
heros2 = picks_bans.iloc[ids][picks_bans['team'] == 0]['hero_id']#Герои, выбранные второй командой

C:\Users\snekl\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\snekl\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [179]:
print(heroes.loc[heros1])
print(heroes.loc[heros2])

     id localized_name           name
95   97         Magnus      magnataur
99  101  Skywrath Mage  skywrath_mage
73   75       Silencer       silencer
97   99    Bristleback    bristleback
35   37        Warlock        warlock
    id  localized_name            name
39  41   Faceless Void   faceless_void
41  43   Death Prophet   death_prophet
11  12  Phantom Lancer  phantom_lancer
93  95   Troll Warlord   troll_warlord
48  50          Dazzle          dazzle

#

In [180]:
match['finish']

{'tower_status_dire': 1972,
 'barracks_status_dire': 63,
 'barracks_status_radiant': 0,
 'tower_status_radiant': 0,
 'duration': 2980,
 'radiant_win': False}

# Чтение признаков

In [190]:
features = pd.read_csv('./data/data/features.csv', index_col='match_id')
y = features["radiant_win"]
features.head()

,start_time,lobby_type,r1_hero,r1_level,r1_xp,r1_gold,r1_lh,r1_kills,r1_deaths,r1_items,...,dire_boots_count,dire_ward_observer_count,dire_ward_sentry_count,dire_first_ward_time,duration,radiant_win,tower_status_radiant,tower_status_dire,barracks_status_radiant,barracks_status_dire
match_id,,,,,,,,,,,,,,,,,,,,,
0,1430198770,7,11,5,2098,1489,20,0,0,7,...,4,2,2,-52.0,2874,1,1796,0,51,0
1,1430220345,0,42,4,1188,1033,9,0,1,12,...,4,3,1,-5.0,2463,1,1974,0,63,1
2,1430227081,7,33,4,1319,1270,22,0,0,12,...,4,3,1,13.0,2130,0,0,1830,0,63
3,1430263531,1,29,4,1779,1056,14,0,0,5,...,4,2,0,27.0,1459,0,1920,2047,50,63
4,1430282290,7,13,4,1431,1090,8,1,0,8,...,3,3,0,-16.0,2449,0,4,1974,3,63

In [191]:
features = features.drop(columns=["duration", "radiant_win", "tower_status_radiant", "tower_status_dire", "barracks_status_radiant","barracks_status_dire"])
features.head(5)

,start_time,lobby_type,r1_hero,r1_level,r1_xp,r1_gold,r1_lh,r1_kills,r1_deaths,r1_items,...,radiant_ward_sentry_count,radiant_first_ward_time,dire_bottle_time,dire_courier_time,dire_flying_courier_time,dire_tpscroll_count,dire_boots_count,dire_ward_observer_count,dire_ward_sentry_count,dire_first_ward_time
match_id,,,,,,,,,,,,,,,,,,,,,
0,1430198770,7,11,5,2098,1489,20,0,0,7,...,0,35.0,103.0,-84.0,221.0,3,4,2,2,-52.0
1,1430220345,0,42,4,1188,1033,9,0,1,12,...,0,-20.0,149.0,-84.0,195.0,5,4,3,1,-5.0
2,1430227081,7,33,4,1319,1270,22,0,0,12,...,1,-39.0,45.0,-77.0,221.0,3,4,3,1,13.0
3,1430263531,1,29,4,1779,1056,14,0,0,5,...,0,-30.0,124.0,-80.0,184.0,0,4,2,0,27.0
4,1430282290,7,13,4,1431,1090,8,1,0,8,...,0,46.0,182.0,-80.0,225.0,6,3,3,0,-16.0

In [192]:
#Нахождение nan, null и тд
bad_cols = []
l = len(features)
for col in features.columns:
    if features[col].count() != l:
        bad_cols.append(col)

In [193]:
features[bad_cols].fillna(0)

,first_blood_time,first_blood_team,first_blood_player1,first_blood_player2,radiant_bottle_time,radiant_courier_time,radiant_flying_courier_time,radiant_first_ward_time,dire_bottle_time,dire_courier_time,dire_flying_courier_time,dire_first_ward_time
match_id,,,,,,,,,,,,
0,7.0,1.0,9.0,0.0,134.0,-80.0,244.0,35.0,103.0,-84.0,221.0,-52.0
1,54.0,1.0,7.0,0.0,173.0,-80.0,0.0,-20.0,149.0,-84.0,195.0,-5.0
2,224.0,0.0,3.0,0.0,63.0,-82.0,0.0,-39.0,45.0,-77.0,221.0,13.0
3,0.0,0.0,0.0,0.0,208.0,-75.0,0.0,-30.0,124.0,-80.0,184.0,27.0
4,-21.0,1.0,6.0,0.0,166.0,-81.0,181.0,46.0,182.0,-80.0,225.0,-16.0
...,...,...,...,...,...,...,...,...,...,...,...,...
114402,114.0,0.0,2.0,8.0,245.0,-86.0,211.0,-29.0,180.0,-76.0,180.0,-24.0
114403,174.0,1.0,9.0,4.0,139.0,-85.0,202.0,-5.0,0.0,-82.0,0.0,-17.0
114404,108.0,0.0,3.0,5.0,43.0,-83.0,181.0,-32.0,249.0,-70.0,0.0,-15.0
114405,28.0,0.0,4.0,6.0,96.0,-78.0,205.0,-21.0,254.0,-85.0,183.0,-42.0
114406,14.0,1.0,7.0,1.0,118.0,-83.0,250.0,-36.0,131.0,-59.0,0.0,-39.0

In [194]:
features = features.fillna(0)

In [195]:
bad_cols

['first_blood_time',
 'first_blood_team',
 'first_blood_player1',
 'first_blood_player2',
 'radiant_bottle_time',
 'radiant_courier_time',
 'radiant_flying_courier_time',
 'radiant_first_ward_time',
 'dire_bottle_time',
 'dire_courier_time',
 'dire_flying_courier_time',
 'dire_first_ward_time']

Итог: переменные X, y

In [20]:
X = features.to_numpy()
#y = y.to_numpy()

# 1. Градиентный бустинг

# 1.1 Кросс валидация

In [120]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import GradientBoostingClassifier
import time
import datetime

start_time = datetime.datetime.now()
kf = KFold(n_splits=5, shuffle = True, random_state = 42)
clf = GradientBoostingClassifier(n_estimators=10, random_state=241, verbose = False)
res = cross_val_score(clf,X,y,cv=kf, scoring='roc_auc')
print('accuracy for number of estimators = 10 is', res.mean())
print('Time elapsed:', datetime.datetime.now() - start_time)

accuracy for number of estimators = 10 is 0.6648506879750012
Time elapsed: 0:00:48.424944

In [121]:
start_time = datetime.datetime.now()
clf = GradientBoostingClassifier(n_estimators=20, random_state=241, verbose = False)
res = cross_val_score(clf,X,y,cv=kf, scoring='roc_auc')
print('accuracy for number of estimators = 20 is', res.mean())
print('Time elapsed:', datetime.datetime.now() - start_time)

accuracy for number of estimators = 20 is 0.6824618768044435
Time elapsed: 0:01:26.725883

In [122]:
start_time = datetime.datetime.now()
clf = GradientBoostingClassifier(n_estimators=30, random_state=241, verbose = False)
res = cross_val_score(clf,X,y,cv=kf, scoring='roc_auc')
print('accuracy for number of estimators = 30 is', res.mean())
print('Time elapsed:', datetime.datetime.now() - start_time)

accuracy for number of estimators = 30 is 0.6900064710388155
Time elapsed: 0:02:08.543791

In [123]:
start_time = datetime.datetime.now()
clf = GradientBoostingClassifier(n_estimators=100, random_state=241, verbose = False)
res = cross_val_score(clf,X,y,cv=kf, scoring='roc_auc')
print('accuracy for number of estimators = 100 is', res.mean())
print('Time elapsed:', datetime.datetime.now() - start_time)

accuracy for number of estimators = 100 is 0.7062229783991214
Time elapsed: 0:06:59.501549

In [128]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [129]:
clf = GradientBoostingClassifier(n_estimators=30, random_state=241, verbose = False)
clf.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=30,
                           n_iter_no_change=None, presort='auto',
                           random_state=241, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=False,
                           warm_start=False)

In [130]:
pred = clf.predict_proba(X_test)[:, 1]

In [131]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test, pred))

0.6907772875616839

# Логистическая регрессия

In [132]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
scaler = StandardScaler()
scaler.fit(X)
X_scal = scaler.transform(X)

In [133]:
scaler.mean_

array([ 1.44423187e+09,  2.63099866e+00,  5.15171038e+01,  3.44267201e+00,
        1.23340580e+03,  1.14789970e+03,  1.12319963e+01,  3.57009154e-01,
        3.62285303e-01,  8.27131544e+00,  5.21834516e+01,  3.36466111e+00,
        1.18922368e+03,  1.10786399e+03,  1.04717474e+01,  3.48709246e-01,
        3.63550345e-01,  8.27558367e+00,  5.27104906e+01,  3.35392369e+00,
        1.18287997e+03,  1.09964374e+03,  1.03330042e+01,  3.42723439e-01,
        3.57338270e-01,  8.27352669e+00,  5.26480922e+01,  3.30889643e+00,
        1.15908848e+03,  1.08209024e+03,  9.98190888e+00,  3.37745552e-01,
        3.57307415e-01,  8.27504885e+00,  5.26256299e+01,  3.30423738e+00,
        1.15858617e+03,  1.08205706e+03,  9.99535123e+00,  3.37262162e-01,
        3.52782063e-01,  8.28849121e+00,  5.19901059e+01,  3.46112311e+00,
        1.23885576e+03,  1.15101818e+03,  1.12538414e+01,  3.72261648e-01,
        3.44091330e-01,  8.29637972e+00,  5.27085467e+01,  3.38893346e+00,
        1.19985881e+03,  1.10863344e+03,  1.04604237e+01,  3.56237787e-01,
        3.47012239e-01,  8.31041860e+00,  5.27551373e+01,  3.37863828e+00,
        1.19355444e+03,  1.10327370e+03,  1.03869176e+01,  3.53532860e-01,
        3.47732181e-01,  8.30542014e+00,  5.29224211e+01,  3.33772498e+00,
        1.17195215e+03,  1.08871165e+03,  1.00353492e+01,  3.54952175e-01,
        3.41859508e-01,  8.31966471e+00,  5.30596935e+01,  3.34527409e+00,
        1.17739535e+03,  1.08955885e+03,  1.00537386e+01,  3.56062944e-01,
        3.42538311e-01,  8.32304844e+00,  7.80429189e+01,  4.16877507e-01,
        3.66973156e+00,  2.40024684e+00,  1.06337200e+02, -7.94897151e+01,
        1.54945161e+02,  2.99477528e+00,  3.31252700e+00,  2.43171861e+00,
        7.16250129e-01, -6.74591176e+00,  1.06093644e+02, -7.96343515e+01,
        1.57196040e+02,  2.96556618e+00,  3.34955261e+00,  2.44833899e+00,
        6.89118585e-01, -6.77230279e+00])

In [134]:
start_time = datetime.datetime.now()
kf = KFold(n_splits=5, shuffle = True, random_state = 42)
logclf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial', penalty='l2')
res = cross_val_score(logclf,X_scal,y,cv=kf, scoring='roc_auc')
print('accuracy is', res.mean())
print('Time elapsed:', datetime.datetime.now() - start_time)

accuracy is 0.7165220156128509
Time elapsed: 0:00:09.724351

Подбор параметров

In [146]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scal, y, test_size=0.3, random_state=0)
tuned_parameters = {'C':[0.0001, 0.001, 0.1, 1, 10, 100]}
logclf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial', penalty='l2')
best_clf = GridSearchCV(logclf, tuned_parameters, cv=kf,scoring='roc_auc')
best_clf.fit(X_train, y_train)
best_clf.best_params_

{'C': 0.1}

In [147]:
start_time = datetime.datetime.now()
logclf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial', penalty='l2', C = 0.1)
logclf.fit(X_train, y_train)
pred = logclf.predict_proba(X_test)[:, 1]
print('accuracy is ', roc_auc_score(y_test, pred))
print('Time elapsed:', datetime.datetime.now() - start_time)

accuracy is  0.7165408771886943
Time elapsed: 0:00:01.535683

# Удалим категориальные признаки из выборки

In [164]:
features = pd.read_csv('./data/data/features.csv', index_col='match_id')
y = features["radiant_win"]
features = features.drop(columns=["duration", "radiant_win", "tower_status_radiant", "tower_status_dire", "barracks_status_radiant","barracks_status_dire"])
features = features.drop(columns=["lobby_type", "r1_hero","r2_hero","r3_hero","r4_hero","r5_hero", "d1_hero", "d2_hero", "d3_hero","d4_hero","d5_hero"])

In [165]:
#Нахождение nan, null и тд
bad_cols = []
l = len(features)
for col in features.columns:
    if features[col].count() != l:
        bad_cols.append(col)

In [166]:
features = features.fillna(0)

In [151]:
X = features.to_numpy()
y = y.to_numpy()

In [152]:
scaler = StandardScaler()
scaler.fit(X)
X_scal = scaler.transform(X)

In [153]:
scaler.mean_

array([ 1.44423187e+09,  3.44267201e+00,  1.23340580e+03,  1.14789970e+03,
        1.12319963e+01,  3.57009154e-01,  3.62285303e-01,  8.27131544e+00,
        3.36466111e+00,  1.18922368e+03,  1.10786399e+03,  1.04717474e+01,
        3.48709246e-01,  3.63550345e-01,  8.27558367e+00,  3.35392369e+00,
        1.18287997e+03,  1.09964374e+03,  1.03330042e+01,  3.42723439e-01,
        3.57338270e-01,  8.27352669e+00,  3.30889643e+00,  1.15908848e+03,
        1.08209024e+03,  9.98190888e+00,  3.37745552e-01,  3.57307415e-01,
        8.27504885e+00,  3.30423738e+00,  1.15858617e+03,  1.08205706e+03,
        9.99535123e+00,  3.37262162e-01,  3.52782063e-01,  8.28849121e+00,
        3.46112311e+00,  1.23885576e+03,  1.15101818e+03,  1.12538414e+01,
        3.72261648e-01,  3.44091330e-01,  8.29637972e+00,  3.38893346e+00,
        1.19985881e+03,  1.10863344e+03,  1.04604237e+01,  3.56237787e-01,
        3.47012239e-01,  8.31041860e+00,  3.37863828e+00,  1.19355444e+03,
        1.10327370e+03,  1.03869176e+01,  3.53532860e-01,  3.47732181e-01,
        8.30542014e+00,  3.33772498e+00,  1.17195215e+03,  1.08871165e+03,
        1.00353492e+01,  3.54952175e-01,  3.41859508e-01,  8.31966471e+00,
        3.34527409e+00,  1.17739535e+03,  1.08955885e+03,  1.00537386e+01,
        3.56062944e-01,  3.42538311e-01,  8.32304844e+00,  7.80429189e+01,
        4.16877507e-01,  3.66973156e+00,  2.40024684e+00,  1.06337200e+02,
       -7.94897151e+01,  1.54945161e+02,  2.99477528e+00,  3.31252700e+00,
        2.43171861e+00,  7.16250129e-01, -6.74591176e+00,  1.06093644e+02,
       -7.96343515e+01,  1.57196040e+02,  2.96556618e+00,  3.34955261e+00,
        2.44833899e+00,  6.89118585e-01, -6.77230279e+00])

In [154]:
start_time = datetime.datetime.now()
kf = KFold(n_splits=5, shuffle = True, random_state = 42)
logclf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial', penalty='l2')
res = cross_val_score(logclf,X_scal,y,cv=kf, scoring='roc_auc')
print('accuracy is', res.mean())
print('Time elapsed:', datetime.datetime.now() - start_time)

accuracy is 0.7165308379291393
Time elapsed: 0:00:08.555106

In [155]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scal, y, test_size=0.3, random_state=0)
tuned_parameters = {'C':[0.0001, 0.001, 0.1, 1, 10, 100]}
logclf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial', penalty='l2')
best_clf = GridSearchCV(logclf, tuned_parameters, cv=kf,scoring='roc_auc')
best_clf.fit(X_train, y_train)
best_clf.best_params_

{'C': 0.1}

In [156]:
start_time = datetime.datetime.now()
logclf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial', penalty='l2', C = 0.1)
logclf.fit(X_train, y_train)
pred = logclf.predict_proba(X_test)[:, 1]
print('accuracy is ', roc_auc_score(y_test, pred))
print('Time elapsed:', datetime.datetime.now() - start_time)

accuracy is  0.7165408771886943
Time elapsed: 0:00:01.589785

# Добавим героев

In [196]:
len(heroes)

112

In [197]:
features = pd.read_csv('./data/data/features.csv')

In [198]:
heros_in_match = features[["match_id","r1_hero","r2_hero","r3_hero","r4_hero","r5_hero", "d1_hero", "d2_hero", "d3_hero","d4_hero","d5_hero"]]

In [199]:
dif_heros = []

In [200]:
len(heros_in_match.iloc[0].unique())

11

In [201]:
len(heros_in_match)

97230

In [202]:
for i in range(len(heros_in_match)):
    if len(heros_in_match.iloc[i].unique()) != 11:
        print('alarm')

alarm
alarm
alarm
alarm
alarm

Во всех матчах учавствуют по 10 различных героев

# Мешки слов

In [203]:
heroes_head = list(map(str, heroes['id']))
fill = np.zeros((97230,112))
heroes_frame = pd.DataFrame(fill, columns = heroes_head)

In [204]:
#tmp = heros_in_match.loc[1]
#tmp = tmp[["r1_hero","r2_hero","r3_hero","r4_hero","r5_hero", "d1_hero", "d2_hero", "d3_hero","d4_hero","d5_hero"]]#
#tmp = list(map(str,tmp))
#heroes_frame[tmp] = 1

In [205]:
heroes_frame.loc[1][['1']]

1    0.0
Name: 1, dtype: float64

In [206]:
for i in range(len(heroes_frame)):
    tmp = heros_in_match.loc[i]
    tmp = tmp[["r1_hero","r2_hero","r3_hero","r4_hero","r5_hero", "d1_hero", "d2_hero", "d3_hero","d4_hero","d5_hero"]]
    tmp = list(map(str,tmp))
    heroes_frame.loc[i][tmp] = 1

In [208]:
heroes_frame

,1,2,3,4,5,6,7,8,9,11,...,104,106,107,108,109,110,105,111,112,113
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97225,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97226,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
97227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
97228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [234]:
features = features.drop(columns=["duration", "radiant_win", "tower_status_radiant", "tower_status_dire", "barracks_status_radiant","barracks_status_dire"])
#Нахождение nan, null и тд
bad_cols = []
l = len(features)
for col in features.columns:
    if features[col].count() != l:
        bad_cols.append(col)
        
features = features.fillna(0)

In [235]:
len(heroes_frame)

97230

In [236]:
merged = features.join(heroes_frame, on=features.index)

In [237]:
X = merged.to_numpy()

In [246]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
import time
import datetime
#scaler = StandardScaler()
#№scaler.fit(X)
#X_scal = scaler.transform(X)

In [250]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
kf = KFold(n_splits=5, shuffle = True, random_state = 42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
tuned_parameters = {'C':[0.0001, 0.001, 0.1, 1, 10, 100]}
logclf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial', penalty='l2')
best_clf = GridSearchCV(logclf, tuned_parameters, cv=kf,scoring='roc_auc')
best_clf.fit(X_train, y_train)
best_clf.best_params_

{'C': 0.0001}

In [251]:
from sklearn.metrics import roc_auc_score
start_time = datetime.datetime.now()
logclf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial', penalty='l2', C = 0.0001)
logclf.fit(X_train, y_train)
pred = logclf.predict_proba(X_test)[:, 1]
print('accuracy is ', roc_auc_score(y_test, pred))
print('Time elapsed:', datetime.datetime.now() - start_time)

accuracy is  0.5135624411866667
Time elapsed: 0:00:00.533572